/passwords.yml
/vault-password

/.vagrant
/*.log

# Emacs
/dotfiles/emacs/.cache
/dotfiles/emacs/.lsp-session-v1
/dotfiles/emacs/eln-cache
/dotfiles/emacs/elpa
/dotfiles/emacs/quelpa
/dotfiles/emacs/tree-sitter
/dotfiles/emacs/emacs-backup
/dotfiles/emacs/auto-save-list
/dotfiles/emacs/projectile-bookmarks.eld
/dotfiles/emacs/projects

# Org Roam
.org-id-locations
org-roam.db

# History
history
history.el

# NixOS
/result
